
  
  .one {
    opacity: 0;
    animation: updown  10s ;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-iteration-count : infinite; 
    
  }
  
  .two {
    opacity: 0;
    animation: updown  10s ;
    animation-delay: 3.3s;
    animation-fill-mode: forwards;
    animation-iteration-count : infinite; 
  }
  
  .three {
    opacity: 0;
    animation: updown  10s ;
    animation-delay: 6.6s;
    animation-fill-mode: forwards;
    animation-iteration-count : infinite; 
  } 

  
  @keyframes updown {
    
    0% {
        opacity: 0;
        transform: translate3d(0, 30%, 0);
    }
    5%{
        opacity: 1;
        transform: translateZ(0);
    }
    25%{
        opacity: 1;
        transform: translateZ(0);
    }
    33%{
        opacity: 0;
        transform: translate3d(0, 30%, 0);
    }
   
    100%{
        opacity: 0;
        transform: translate3d(0, 30%, 0);
    } 
}
 




 
.doubleportionMainBackground {
    color: #ffffff;
    background: linear-gradient(-45deg, #ee8432, #ff606c, #edca35);
    background-size: 400% 400%;
    animation: AnimationName 3s ease infinite;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
  }
  .doubleportionMainBackground2 {
    color: #ffffff;
    /* background: linear-gradient(-45deg, #368cea, #7629ef, #50adf9); */
    background: linear-gradient(-45deg, #368cea, #7629ef, #50adf9);
    background-size: 200% 200%;
    animation: AnimationName 3s ease infinite;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 35%;
    text-align: center;
  }

  .doubleportionMainBackground3 {
    color: #ffffff;
    background: linear-gradient(-45deg, #c2326f, #5a2257, #663791, #dc3869, #cdadd1);
    background-size: 400% 400%;
    animation: AnimationName 3s ease infinite;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 35%;
    text-align: center;
  }



@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
   

