.cursor{
  height: 20px;
  width:3px;
  margin-left:10px;
  background-color: #969696;
  margin-top:2px;
  animation: cursor 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes cursor{
    0%{
      opacity: 1;
    }20%{
      opacity: 1;
    }40%{
      opacity: 1;
    }60%{
      opacity: 0;
    }80%{
      opacity: 0;
    }100%{
      opacity: 0;
    }
}

.wheel{
  position: absolute;
  z-index: 120;
  width: 3px;
  height: 3px;
  margin-top:5px;
  background-color: #fff;
  animation: wheel 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes wheel{
  0% {transform: translateY(0px);opacity: 1;}
  25% {transform: translateY(1px);opacity: 1}
  50% {transform: translateY(2px);opacity: 0.8}
  75% {transform: translateY(3px);opacity: 0.5}
  100% {transform: translateY(4px);opacity: 0.3} 
  100% {transform: translateY(4px);opacity: 0} 
}

.pixelButton{
  width: 75px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d26ca1;
  /* color:#222; */
  /* font-weight: 700; */
  margin:0px 5px 0px 5px;
  box-shadow: 
  inset 2px 2px 0px 2px #ffffff33,
  inset -2px -2px 0px 2px #00000033;
  border:4px solid #111;
  position: relative;
  letter-spacing: 1px;
}

.pixelButtonNone{
  width: 75px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a89ba3;
  color:#c1bdc0;
  /* font-weight: 700; */
  margin:0px 5px 0px 5px;
  box-shadow: 
  inset 2px 2px 0px 2px #847280,
  inset -2px -2px 0px 2px #847280;
  border:4px solid #111;
  position: relative;
  letter-spacing: 1px;
}

.workBtn{
  width: 300px;
  height: 300px;
  position: relative;
}

.workImg{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  z-index: 550;
}

.workBtnBar{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 570;
}

.workBtnAction{
  display: none;
}

.workBtnBar:hover{
  background-color: #00000090; 
}

.workBtnBar:hover .workBtnAction{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 17px;
  letter-spacing: 1px;
  margin:7px;
  width:120px;
}



.workBtnAction img{
  width: 20px;
  height: 20px;
  margin:7px;
}


 

.workBtnBorder1{
  width: 7px;
  height: 7px;
  background-color: #222;
  position: absolute;
  z-index: 600;
  left: 0px;
  top: 0px;
}

.workBtnBorder2{
  width: 7px;
  height: 7px;
  background-color: #222;
  position: absolute;
  z-index: 600;
  right: 0px;
  top: 0px;
}

.workBtnBorder3{
  width: 7px;
  height: 7px;
  background-color: #222;
  position: absolute;
  z-index: 600;
  left: 0px;
  bottom: 0px;
}

.workBtnBorder4{
  width: 7px;
  height: 7px;
  background-color: #222;
  position: absolute;
  z-index: 600;
  right: 0px;
  bottom: 0px;
}
