.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
   
  
  .tail{
    transform:rotate(10deg);
    animation: tail 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  
  .tailBorder{
    transform:rotate(10deg);
    animation: tail 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  
  @keyframes tail{
    0%{
      transform:rotate(10deg);
    }25%{
      transform:rotate(15deg);
    }50%{
      transform:rotate(20deg);
    }70%{
      transform:rotate(15deg);
    }100%{
      transform:rotate(10deg);
    }
  }
  
  .eye{ 
    animation: eye 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  
  @keyframes eye{
    0%{
      height: 15px; 
    }50%{
      height: 5px; 
    }100%{
      height: 15px;
    }
  }
  
  .pupil{ 
    animation: pupil 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  
  @keyframes pupil{
    0%{
      height: 5px;
    }25%{
      height: 0px;
    }50%{
      height: 0px; 
    }100%{
      height: 5px;
    }
  }